.idea/*
.idea/
CMakeFiles/
bgp_optimiser
cmake-build-debug/
CMakeCache.txt
cmake_install.cmake
Makefile
output
.cmake*
.ninja_deps
.ninja_log
build.ninja
CMakeDoxy*
Doxy*
NetworkBrain
Testing/*
ring_ping
influx/*.a
generic/*.a
ring_stats/*.a
ring_stats/CMakeFiles
ring_stats/.ninja*
ring_stats/build.ninja
ring_stats/cmake_*
ring_stats/CMakeDoxy*
ring_stats/CMakeCache*
ring_stats/ring_test
ring_stats/private*
ring_stats/statics.h
*.a
